.header {
    background-color: #f9f9f9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 2rem;
    padding-left: 2rem;
}

    .menu__list {
        display: flex;
    }

        .menu__item {
            list-style: none;
        }

            .menu__item:last-child .menu__link {
                margin-right: 0;
            }

            .menu__link {
                color: #808080;

                margin-right: 1.25rem;

                text-decoration: none;
                text-transform: lowercase;
            }

                .menu__link:hover {
                    text-decoration: underline;
                }

                .menu__link.active {
                    color: #333;

                    font-weight: bold;
                }

.banner {
    position: relative;
}

    .banner__image {
        width: 100%;
        height: calc(100vh - 72px);
    }

    .banner__tittle {
        color: #fdfdfd;
        width: 100%;

        position: absolute;
        top: 50%;
        left: 50%;

        font-family: "Pacifico", cursive;
        font-size: 5.0625rem;

        text-shadow: 0 4px 4px rgba(0, 0, 0, .75);
        text-align: center;

        transform: translate(-50%, -50%);
    }

.about {
    padding: 2.5rem;
    
    text-align: center;
}

    .about__tittle {
        color: #8d0606;

        font-family: "Pacifico", cursive;
        font-size: 3.1875rem;
    }

    .about__description {
        color: #595959;

        font-size: 1.75rem;
        font-weight: 100;
    }

.receitas {
    background-color: #e5e5e5;

    display: flex;
    flex-wrap: wrap;

    padding: 5rem 0 0 5rem;
}

    .receita {
        background-color: #fdfdfd;
        width: calc(25% - 5rem);

        display: flex;
        flex-direction: column;

        margin-bottom: 5rem;
        margin-right: 5rem;
    }

        .receita__imagem {
            height: 200px;
        }

        .receita__conteudo {
            padding: 1rem;
        }

            .receita__titulo {
                font-size: 1.4375rem;
            }

            .receita__descricao {
                font-size: 1.1875rem;
                text-align: justify;

                line-height: 1.5;
            }

            .receita__botao {
                background-color: #8d0606;

                border: none;
                border-radius: 5px;
                padding: 1rem;
                
                color: #fdfdfd;

                transition: all .1s ease-in-out;
            }

                .receita__botao:hover {
                    background-color: #620404;

                    cursor: pointer;
                }

.quem-somos {
    padding: 5rem;

    text-align: center;
}

    .quem-somos__titulo {
        margin-bottom: 1rem;

        color: #8d0606;
        font-family: "Pacifico", cursive;
        font-size: 3.1875rem;
    }

    .quem-somos__descricao {
        color: #595959;
        font-size: 1.75rem;
        font-weight: 100;
    }

    .pessoas {
        display: flex;
        justify-content: space-around;

        padding-top: 3rem;
    }

        .pessoa {
            display: flex;
            flex-direction: column;
        }

            .pessoa__imagem {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                width: 300px;
                height: 300px;
                
                margin: 0 auto;
                border-radius: 50%;
            }
            
                .pessoa__imagem--roberta {
                    background-image: url("../img/pessoas/roberta.jpg");
                }
                
                .pessoa__imagem--marcela {
                    background-image: url("../img/pessoas/marcela.jpg");
                }

                .pessoa__imagem--andreia {
                    background-image: url("../img/pessoas/andreia.jpg");
                }

            .pessoa__nome {
                margin: 1rem 0;
                
                color: #8d0606;
                font-family: "Pacifico", cursive;
                font-size: 2rem;
            }
            
            .pessoa__funcao {
                color: #595959;
                font-size: 1.25rem;

                text-transform: lowercase;
            }